@using eindproject_2.Database
@model List<Huizen>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Oh oh, waar moet ik op vakantie in Cherso</p>
    <h1 class="display-4">
        Films <BR><BR>
        <img src="~/img/cherso2.jfif" />
        <img src="~/img/cherso1.jfif" />
    
        <BR><BR>
       
    </h1>
</div>
