@{
    ViewData["Title"] = "Zoeken";
}
<htm>
    <head>
        <body>
            <h1 class="title">Zoekmachine</h1>
            <form action="" class="Zoekbalk">
                <input type="text" name="q">
                <button type="submit">Submit</button>

            </form>
        </body>
    </head>
    
</htm>